
<div class="card container col-md-8 my-4" style="border: 2px solid;"> <!-- card du formulaire des fournisseurs -->
    <div class="card-head" style="text-align: center;">
        <h3 class='card-title  mt-4'>Rajouter un fournisseur.</h3>
    </div>

<div class="card-body">
        <%= form_with model: fourni do |form| %> <!-- formulaire de fournisseur -->

            <label class="form-label  m-0 mb-1" for="input-nomf">Nom du fournisseur</label>
            <%= form.text_field :nom_f, placeholder: "Nom du fournisseur", class: "form-control mb-3", id:"input-nomf" %>
            <% fourni.errors.full_messages_for(:nom_f).each do |message| %>
                <div class=""><%= message %></div>
            <% end %>
        
            <label class="form-label  m-0 mb-1" for="input-mailf">Email</label>
            <%= form.text_field :mail_f, placeholder: "Mail du fournisseur", class: "form-control mb-3", id:"input-mailf" %>
            <% fourni.errors.full_messages_for(:mail_f).each do |message| %>
                <div class=""><%= message %></div>
            <% end %>
        
            <label class="form-label  m-0 mb-1" for="input-numf">Numéro de téléphone</label>
            <%= form.text_field :num_f, placeholder: "Numéro de téléphone", class: "form-control mb-4", id:"input-numf" %>
            <% fourni.errors.full_messages_for(:num_f).each do |message| %>
                <div class=""><%= message %></div>
            <% end %>

        <div>
            <button class="btn btn-lg btn-outline-success"><% form.submit %>Envoyer dans la BDD</button>
        </div>
    </div>

<% end %>
</div>
</div>

<div class="fixed-bottom"> 
    <%= render partial: "partials/footer" %> <!-- footer -->
</div>