<% if admin_signed_in? %>

<%= render partial: 'partials/headeradmin'%>

<div style="text-align: center;">
  <h1 id="title" class="display-1 my-4">Interface administrateur</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card container col-md-8 my-4" style="background-color: rgb(40, 45, 58); border: 2px solid white;">
        <div class="card-head" style="text-align: center;">
            <h3 class='card-title text-white mt-4'>Rajout et gestion des fournisseurs</h3>
        </div>

        <div class="card-body">
          <button class="btn btn-lg btn-outline-success mx-2 my-2"><%= link_to "Page des fournisseurs", fournis_path, class: "no-underline" %></button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card container col-md-8 my-4" style="background-color: rgb(40, 45, 58); border: 2px solid white;">
        <div class="card-head" style="text-align: center;">
            <h3 class='card-title text-white mt-4'>Gestion des demandes SAV</h3>
        </div>

        <div class="card-body">
          <button class="btn btn-lg btn-outline-success mx-2 my-2"><%= link_to "Demandes de SAV", savforms_path, class: "no-underline" %></button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card container col-md-8 my-4" style="background-color: rgb(40, 45, 58); border: 2px solid white;">
        <div class="card-head" style="text-align: center;">
            <h3 class='card-title text-white mt-4'>Envoie des mails aux fournisseurs</h3>
        </div>

        <div class="card-body">
          <button class="btn btn-lg btn-outline-success mx-2 my-2"><%= link_to "Envoie d'email SAV", email_path , class: "no-underline"%></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-bottom">
<%= render partial: "partials/footer" %>
</div>

<br>

<% else %>
    <script>
      alert("Vous n'avez pas accès.");
      location.href="http://127.0.0.1:3000";
    </script>
<% end %>

