<% if admin_signed_in? %> <%# si la session admin est up, alors on charge la page %>

<%= render partial: 'partials/headeradmin'%>

<div style="text-align: center;">
  <h1 id="title" class="display-1 my-4">Interface administrateur</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card container col-md-8 my-4" style="border: 2px solid;">
        <div class="card-head" style="text-align: center;">
            <h3 class='card-title  mt-4'>Rajout et gestion des fournisseurs</h3>
        </div>

        <div class="card-body">
          <%= link_to "Page des fournisseurs", fournis_path, class: "btn btn-lg btn-outline-success mx-2 my-2 no-underline" %>
        </div> <%# lien vers la page fournisseur avec la route fournis_path %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card container col-md-8 my-4" style="border: 2px solid;">
        <div class="card-head" style="text-align: center;">
            <h3 class='card-title  mt-4'>Gestion des demandes SAV</h3>
        </div>

        <div class="card-body">
          <%= link_to "Demandes de SAV", savforms_path, class: "btn btn-lg btn-outline-success mx-2 my-2 no-underline" %>
        </div> <%# lien vers la page sav avec la route savforms_path %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card container col-md-8 my-4" style="border: 2px solid;">
        <div class="card-head" style="text-align: center;">
            <h3 class='card-title  mt-4'>Envoie des mails aux fournisseurs</h3>
        </div>

        <div class="card-body">
          <%= link_to "Envoie d'email SAV", email_path , class: "btn btn-lg btn-outline-success mx-2 my-2 no-underline"%>
        </div> <%# lien vers la page email avec la route email_path  %>
      </div>
    </div>
  </div>
</div>

<div class="fixed-bottom">
<%= render partial: "partials/footer" %>
</div>

<br>

<% else %>
    <script>
      alert("Vous n'avez pas accès.");
      location.href="http://127.0.0.1:3000";
    </script> <%# si la session admin n'est pas up, alors on renvoie vers la page d'accueil %>
<% end %>

