<% if admin_signed_in? %> <!-- si l'admin est connecté -->'

<%= render partial: 'partials/headeradmin'%> <!-- header admin -->

<div style="text-align: center;">
  <h1 id="title" class="display-1 my-4"><strong><%= @fourni.nom_f %></strong></h1>

  <div class="row"> <!-- liste des infos sur le fournisseur -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card container col-md-10" style="border: 0;">
        <div class="list-group" style="item-align: center;">
          <ul>
            <li class="list-group-item mb-1 border border-2"><p>Nom : <%= @fourni.nom_f %></p></li>

            <li class="list-group-item mb-1 border border-2"><p>Mail : <%= @fourni.mail_f %></p></li>

            <li class="list-group-item mb-1 border border-2"><p>Numéro : <%= @fourni.num_f %></p></li>
          </u>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <!-- boutons de modification, suppression de fournisseur ou de retour -->
  <%= link_to "Modifer ce Fournisseur", edit_fourni_path(@fourni), class: "no-underline btn btn-lg btn-outline-success my-1"%>
  <%= button_to "Supprimer ce fournisseur", fourni_path(@fourni), method: :delete, data: { confirm: "Confirmer la suppression ?" }, class: "no-underline btn btn-lg btn-outline-danger my-1" %>
  <%= link_to "Retour", fournis_path, class: "no-underline btn btn-lg btn-outline-dark my-1"%>
</div>

<div class="fixed-bottom">
  <%= render partial: "partials/footer"%> <!-- footer -->
</div>

<% else %>
    <script>
      alert("Vous n'avez pas accès.");
      location.href="http://127.0.0.1:3000"; // redirection vers la page d'accueil si l'admin n'est pas connecté
    </script>
<% end %>