<navbar>
<button class="btn, btn-lg btn-outline-dark"><%= link_to "Retour", accadmin_path, class: "no-underline"%></button>
</navbar>
<h1>Les mails sah</h1>
<br>
<%= form_with(scope: "fournis") do |f| %>
    <%= f.label :fournisseur %><br>
    <%= f.select :id, @fournis.map { |frn| [frn.nom_f, frn.id] } %><br><br>

    <%= f.label :commande %><br>
    <%= f.select :id, @savforms.map { |svf| [svf.numCommande, svf.id] } %>

<% end %>