<%= render partial: 'partials/headeradmin'%>

<br/><br/>

<center>
<h1 id="title" class="display-2">Envoyer un mail !*</h1>
</center>
<br>
<%= form_with model: @mails do |f| %>
    <%= f.label :fournisseur , id:"simpletext"%><br>
    <%= f.select :nomf, @fournis.map { |frn| [frn.nom_f, frn.id] } %><br><br>

    <%= f.label :commande, id:"simpletext" %><br>
    <%= f.select :numcom, @savforms.map { |svf| [svf.numCommande, svf.id] } %>


<br>
<button class="btn btn-lg btn-outline-success"><% form.submit %>TEST</button>

<% end %>

<div class="fixed-bottom">
<%= render partial: "partials/footer" %>
</div>