<%= render partial: 'partials/headeradmin'%>

<br/><br/>

<center>
<h1 id="title" class="display-2">Envoyer un mail !*</h1>
</center>
<br>
<%= form_with(scope: "fournis") do |f| %>
    <%= f.label :fournisseur , id:"simpletext"%><br>
    <%= f.select :id, @fournis.map { |frn| [frn.nom_f, frn.id] } %><br><br>

    <%= f.label :commande, id:"simpletext" %><br>
    <%= f.select :id, @savforms.map { |svf| [svf.numCommande, svf.id] } %>

<% end %>
<br>
<button class="btn btn-lg btn-outline-success"><%= link_to "Envoyer un mail TEST", envoiemail_path, class: "no-underline"%></button>

<div class="fixed-bottom">
<%= render partial: "partials/footer" %>
</div>