<% if admin_signed_in? %>

<%= render partial: 'partials/headeradmin'%>

<div style="text-align: center;">

<h1 id="title" class="display-2">Information</h1>
<p id="simpletext"><strong>Nom : </strong><%=@savform.nom%></p>
<p id="simpletext"><strong>Prénom : </strong><%=@savform.prenom%></p>
<p id="simpletext"><strong>Mail : </strong><%=@savform.mail%></p>
<p id="simpletext"><strong>Adresse : </strong><%=@savform.adresse%></p>
<p id="simpletext"><strong>Ville : </strong><%=@savform.ville%></p>
<p id="simpletext"><strong>Code postal : </strong><%=@savform.postal%></p>
<p id="simpletext"><strong>Numéro de commande : </strong><%=@savform.numCommande%></p>
<p id="simpletext"><strong>Fournisseur : </strong><%=@savform.fournisseur%></p>
<p id="simpletext"><strong>Numéro de téléphone : </strong><%=@savform.numTel%></p>
<p id="simpletext"><strong>Commentaire : </strong><%=@savform.contenue%></p>
<p id="simpletext"><strong>Facture : </strong></p>
<%if @savform.facture.attached?%>
<%= image_tag @savform.facture, style: "width: 50%; item-align: center;", class: "mb-3" %>
<% end %> <br>


<button class="btn btn-lg btn-outline-danger"><%= link_to "Supprimer", savform_path(@savform),
                  method: :delete,
                  data: { confirm: "Êtes vous sûr de vouloir supprimer cette demande ?" },class:"no-underline" %></button>


<button class="btn btn-lg btn-outline-dark"><%= link_to "Retour", savforms_path, class:"no-underline" %></button>

</div>

<%= render partial: "partials/footer"%>

<% else %>
    <script>
      alert("Vous n'avez pas accès.");
      location.href="http://127.0.0.1:3000";
    </script>
<% end %>